@import './custom';

.btnb {
    border-radius: 7px;
    border: none;
    font-family: "Roboto" , sans-serif;
    font-size: 0.875rem;

    &.scnd:hover {
        text-decoration: underline;
        background-color: white;
    }

    &.explore {
        border: 1px solid $teal-500;
        color: $teal-500;

        &:hover {
            background-color: $teal-500;
            color: $white;
        }
    }
}