

.club-page {
    font-family: "Roboto" , sans-serif;

    .cl-content {
        margin-top: 12.25rem;

        @include media-breakpoint-down(md){
            margin-top: 14.25rem;
        }

        &--card {
            border-radius: 10px;
            border: 1px solid $gray-200;
    
    
            &--pill {
                color: $gray-700;
                font-weight: 500;
            }
    
            &--cwrapper {
    
                &--card {
                    margin-top: 1rem;
    
                    img {
                        width: 100%;
                        height: 150px;
                        object-fit: cover;
                    }
    
                    a {
                        text-decoration: none;
                        margin-top: 0.5rem;
                        margin-bottom: 0.5rem;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
    
                    &--header {
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: $gray-700;
                    }
    
                    &--text {
                        font-size: 12px;
                        font-family: "Poppins", sans-serif;
                        color: $gray-500;
                    }
    
    
                    @include media-breakpoint-up(xxl) {
                        width: 16.177rem;
                    }
    
                    @include media-breakpoint-down(xxl) {
                        width: 13.833rem;
                    }
    
                    @include media-breakpoint-down(xl) {
                        width: 11.490rem;
                    }
    
                    @include media-breakpoint-down(lg) {
                        width: 13rem;
                    }
    
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
    
                }
            }
    
        }
    }

    .cl-header {       
        width: 100%;
        height: 300px;
        position: relative;

        &--wrapper {

            &--img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                position: relative;
                width: 100%;
                height: 300px;

                &:after {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    content:'\A';
                    position:absolute;
                    width:100%; 
                    height:100%;
                    top:0; 
                    left:0;
                    background:rgba(0,0,0,0.7);
                    opacity:1;
                }

                img {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    vertical-align: top;
                }
            }
            
            &--top {

                &--cp {
                
                    span {
                        margin: 1rem;
                        position: absolute;
                        top: 0%;
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: $white;
                    }
    
                }
    
                &--follow {
                    margin: 1rem;
                    position: absolute;
                    top: 0%;
                    right: 0%;
                }
                
            }

            &--center {
                
                .club-name {
                    font-size: 1.375rem;
                    font-weight: 700;
                    color: $white;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }

                .club-moto {
                    font-size: 0.813rem;
                    font-style: italic;
                    color: $gray-300;
                }

            }
        }

        &--compe {
            gap: 3rem;

            &--item {
                width: 110px;

                &--img {

                    img {
                        opacity: 1;
                    }
                }

                &--cname {
                    font-size: 0.875rem;
                    color: $gray-700;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }

                &--ctimes {
                    font-size: 0.875rem;
                    font-weight: 700;
                    color: $gray-700;
                }

            }
        }

    }

    .cl-info {
        
        &--title {
            font-size: 1rem;
            font-weight: 700;
            color: $gray-700;
        }

        &--img {
            width: 100%;
            border-top: 1px solid #EDF2F7;
            border-bottom: 1px solid #EDF2F7;
            padding-top: 1rem;
            padding-bottom: 1rem; 
            margin-bottom: 1rem;

            img {
                height: 115px;
                width: auto;
            }

        }
        
        ul {
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margins */

            li {
                margin-bottom : 1rem;
                font-size: 0.875rem;

                .title {
                    color: $gray-700;
                    font-weight: 500;
                }

                .info {
                    color: $gray-500;
                    font-weight: 400;
                }

            }

        }
    }


}