

.content-page {
    margin-top: 6rem;
    margin-bottom: 3rem;

    .cp-content {

        .card-content {
            border-radius: 10px;
            border: 1px solid $gray-200;
            font-family: "Roboto" , sans-serif;

            .btn-top:hover {
                cursor: pointer;   
            }
            

            &--header {
                margin-top: 2rem;

                &--title {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $gray-700;
                }
    
                &--desc {
                    font-size: 0.813rem;
                    color: $gray-500;
                    font-style: italic;
                }
    
                &--author {
                    font-size: 0.813rem;
                    color: $gray-700;
                }

            }

            img.header-img {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            &--text {
                font-size: 0.875rem;
                color: $gray-700;
                font-family: "Poppins", sans-serif;
                line-height: 2;
            }


        }
    }

    .cp-sidebar-l {
        padding-top: 5rem;

        @include media-breakpoint-down(lg) {
            padding-top: 2rem;
        }
        
        &--follow {
           
            img {
                height: 60px;
                width: 60px;
            }

            &--clubname {
                font-size: 1rem;
                color: $gray-700;
                font-weight: 500;
                padding-top: 0.5rem;
            }

            &--btn {
                margin-top: -0.5rem;
            }


        }

        &--share {

            @include media-breakpoint-down(lg) {
                margin-bottom: 2rem;
            }

            &--title {
                font-family: "Roboto" , sans-serif;
                font-size: 0.875rem;
                color: $gray-700;
            }
           
            ul {
                margin-top: -1rem;
                list-style-type: none; /* Remove bullets */
                padding: 0; /* Remove padding */
                margin: 0; /* Remove margins */

                li {
                    display: block;
                    margin-bottom: 0.75rem;

                    @include media-breakpoint-down(lg) {
                        display: inline;
                        margin-left: 0.25rem;
                        margin-right: 0.25rem;
                    }

                }
            }
        }

    }

    .cp-sidebar-r {
        padding-top: 5rem;
        font-family: "Roboto" , sans-serif;

        @include media-breakpoint-down(lg) {
            padding-top: 2rem;
        }

        &--title {
            margin-bottom: 0.5rem;

            h3 {
                font-size: 1rem;
                font-weight: 700;
                color: $gray-700;
            }
        }

        &--article {           

            img {
                border-radius: 0;
                height: 7.5rem;
                object-fit: cover;

                @include media-breakpoint-down(md) {
                    height: 11rem;
                }

                @include media-breakpoint-down(lg) {
                    height: 15rem;
                }

                @include media-breakpoint-down(xxl) {
                    height: 5rem;
                }

            }


            &--link {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            &--title {
                font-size: 0.875rem;
                font-weight: 500;
                color: $gray-700;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
            }

            &--desc {
                font-family: "Poppins", sans-serif;
                font-size: 0.75rem;
                color: $gray-600;
                text-align: justify;
            }

            ul {
                list-style-type: none; /* Remove bullets */
                padding: 0; /* Remove padding */
                margin: 0; /* Remove margins */

                li {
                    margin-bottom: 1rem;
                }
                
            }
        }
    }
}