
.home-page {


    .card-explore {
        border-radius: 10px;
        border: 1px solid $gray-200;

        .img-logo {
            max-height: 50px;
        }

        .nickname {
            font-family: "Roboto" , sans-serif;
            font-weight: 500;
            font-size: 0.875rem;
            color: $gray-700;                
            line-height: 1;
            text-align: center;
            margin-top: 1rem;
        }

        &--thumbnail {
            height: 14.375rem; 
            width: 25.125rem; 
            object-fit: cover;

            @include media-breakpoint-down(lg) {
                width: 100%;
                height: 60%;
            }

            @include media-breakpoint-down(xl) {
                width: 20.125rem; 
                height: 9.375rem; 
            }

        }

        &--text {            
            margin-top: 1rem;

            @include media-breakpoint-up(lg) {
                padding-left: 1rem;
                margin-top: 0rem;

            }
        }

        &--logo {
            opacity: 1;
        }

        &--name {
            font-size: 1rem;
            font-weight: 500;
            color: $gray-700;
            padding-top: 1rem;
        }

        &--title {
            font-family: "Roboto" , sans-serif;
            font-size: 1.375rem;
            font-weight: 700;
            color: $gray-700;
            
        }

        &--content {
            font-family: "Poppins" , sans-serif;
            font-size: 0.75rem;
            color: $gray-500;
            line-height: 1.75;

            @include media-breakpoint-up(xl) {
                width: 85%;
            }

        }

        &--link {
            color: $teal-500;
            font-size: 0.875rem;
        }

        hr {
            color: $gray-500;
        }

    }

    .side-menu {

        font-family: "Roboto" , sans-serif;

        hr {
            color: $gray-500;
        }


        &--footer {
            
            a {
                font-size: 0.75rem;
                color: $gray-500;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .active {
            svg {
                fill: $teal-500;
            }
            
            span {
                color: $teal-500;
            }
        }
        
        a {
            text-decoration: none;
        }

        &--wrapper {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            svg {
                color: $gray-600;
            }

            &:hover {
                background-color: $teal-100;
                width: 80%;
                border-radius: 5px;
            }
    

            &--img {

                img {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                }

            }


            &--text {
                font-size: 1rem;
                font-weight: 500;
                color: $gray-600;
            }
        }
        



    }

}