

.landing-page {
    
    .hero-section {
        margin-top: 10rem;

        &--header {
            font-family: "Burbank Big Condensed" , sans-serif;
            font-size: 4rem;

            @include media-breakpoint-down(sm) {
                font-size: 2.5rem;
            }

        }

        &--desc {
            font-family: "Poppins" , sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 2;
            margin-top: 3rem;
            margin-bottom: 3rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.8rem;
                line-height: 1.75;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }

        }

        &--img {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    }

    .about-section {
        
        &--title {
            border-bottom: 2px solid $blue-500;
            width: fit-content;
            padding: 0;
            line-height: 1;
            font-size: 3rem;
            font-family: "Burbank Big Condensed" , sans-serif;
            margin-bottom: 1.5rem;

            @include media-breakpoint-down(sm) {
                font-size: 2.25rem;
            }

        }

        &--desc {
            font-size: 0.875rem;
            font-family: "Poppins", sans-serif;
            line-height: 2;           
            margin-bottom: 5rem;

            @include media-breakpoint-up(xxl) {
                max-width: 35%;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.8rem;
                margin-bottom: 2rem;
            }
        }

        &--title-2 {
            border-bottom: 2px solid $blue-500;
            width: fit-content;
            padding: 0;
            line-height: 1;
            font-size: 2.063rem;
            font-family: "Burbank Big Condensed" , sans-serif;
            margin-bottom: 1.5rem;

            @include media-breakpoint-down(lg) {
                margin-top: 2rem;
                font-size: 1.75rem;
            }
        }

        &--content {
            font-size: 0.875rem;
            font-family: "Poppins", sans-serif;
            line-height: 2;
            
            @include media-breakpoint-down(sm) {
                font-size: 0.8rem;
                line-height: 1.75;
            }

            &.ac1 {
                
                @include media-breakpoint-up(xxl) {
                    max-width: 83%;
                }
            }

            &.ac2 {

                @include media-breakpoint-up(xxl) {
                    max-width: 100%;
                }
            }

            &.ac3 {
                
                @include media-breakpoint-up(xxl) {
                    max-width: 83%;
                }
            }

        }

        &--wrapper {
            margin-top: 4rem;
            margin-bottom: 4rem;

            @include media-breakpoint-down(sm) {
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }

        }

        &--padding {
            
            @include media-breakpoint-up(xxl) {
                padding-left: 5.5rem;
            }
        }

    }

    .explore-section {

        
        @include media-breakpoint-down(sm) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        .card-explore {
            border-radius: 10px;
            border: 1px solid $gray-200;

            .img-logo {
                max-height: 50px;
            }

            .nickname {
                font-family: "Roboto" , sans-serif;
                font-weight: 500;
                font-size: 0.875rem;
                color: $gray-700;                
                line-height: 1;
                text-align: center;
                margin-top: 1rem;
            }
        }
        
        .btn-scroll {
            display:block;
            border-radius: 50%;
            background-color: none;
            border: none;
        }
    }

    .contact-section {
       margin-top: 5rem;
       margin-bottom: 5rem;

        &--desc {
            font-size: 0.875rem;
            font-family: "Poppins", sans-serif;
            line-height: 2;           
            margin-bottom: 5rem;

            @include media-breakpoint-up(xxl) {
                max-width: 80%;
            }

            @include media-breakpoint-down(sm) {
                font-size: 0.8rem;
                margin-bottom: 2rem;
            }
        }

        .card-contact {           
            border: 1px solid $gray-200;
            border-radius: 10px;
           
            @include media-breakpoint-up(xl) {
                width: 34.063rem;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

        }

        .contact-form {
            font-family: "Roboto" , sans-serif;
            font-size: 1.125rem;
            color: $gray-700;

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $gray-500;
                opacity: 1; /* Firefox */
            }
              
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $gray-500;
            }
              
            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $gray-500;
            }

            .placeholder-border {
                border : 1px solid $gray-200;
            }

            .btnb {
                font-size: 1.125rem;
            }
        }

    }

    .footer-section {
        margin-top: 5rem;
        margin-bottom: 0.25rem;
        border-top: 1px solid $gray-300;
        padding-top: 1.5rem;

        &--header {
            font-family: "Burbank Big Condensed" , sans-serif;
            font-size: 1.5rem;
            color: $gray-700;
            border-bottom: 2px solid $blue-500;
            width: fit-content;
            line-height: 1;
            margin-bottom: 1.5rem;

            @include media-breakpoint-down(sm) {
                margin-bottom: 1rem;
            }

            &.fh {
                margin-bottom: 0;
                border-bottom: none;
            }

            &--1 {
                border-bottom: 2px solid $blue-500;
                width: fit-content;
                margin-bottom: 1.5rem;

                @include media-breakpoint-down(sm) {
                    margin-bottom: 1rem;
                }

                img {
                    margin-top: -0.5rem;
                }
            }

        }

        &--text {
            font-family: "Roboto" , sans-serif;
            font-size: 0.875rem;
            color: $gray-500;
            line-height: 1.75;

            @include media-breakpoint-down(sm) {
                font-size: 0.8rem;
                width: 100%;
            }

            @include media-breakpoint-up(md) {
                width: 80%;
            }


            @include media-breakpoint-up(xl) {
                width: 50%;
            }

        }

        ul.no-bullets {
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margins */

            li {
                margin-bottom: 0.4rem;
                font-family: "Roboto" , sans-serif;
                font-size: 0.875rem;

                a {
                    color: $gray-500;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

            }
        }
        
        .copyright {
            font-family: "Roboto" , sans-serif;
            font-size: 0.75rem;
            color: $gray-500;
        }

    }

}



