
.login-register {


    @include media-breakpoint-up(xl){
        width: 25%;
    }

    @include media-breakpoint-down(xl){
        width: 50%;
    }

    @include media-breakpoint-down(md){
        width: 100%;
    }
    
    span.title {
        font-family: "Burbank Big Condensed" , sans-serif;
        font-size: 3rem;
        color: $teal-500;
    }

}

