


.navigation-bar {

    .nav-title {
        font-family: "Burbank Big Condensed" , sans-serif;
        font-size: 1.75rem;
    }
    

    ::placeholder {
        color: $gray-400;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: $gray-400;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
       color: $gray-400;

    }
    
    .search-bar {
        border-radius: 50%;
        height: 2.5rem;
        width: 15rem;

        @include media-breakpoint-down(xl){
            width: 100%;
        }

        &--text {
            display: none;
            border-radius: 50px;
            font-family: "Roboto" , sans-serif !important;
            font-size: 10rem;
        }
    }

    .menu-mobile {
        
        a {
            text-decoration: none;
        }

        svg {
            fill: $gray-600;
        }
        
        span {
            color: $gray-600;
        }

        .active {
            svg {
                fill: $teal-500;
            }
            
            span {
                color: $teal-500;
            }
        }
        

    }

}