@import './custom.scss';
@import './button.scss';
@import './navbar';
@import './club-page';  
@import './landing-page';
@import './content-page';
@import './home-page';
@import './login-register';

body {
    background-color: $gray-50;
    overflow-y: scroll;
}

img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

